//Webfont https://www.google.com/fonts
$font-family:       'Noto Sans Japanese', sans-serif;
$variant-family:    'Noto Sans Japanese', Georgia, serif;
$code-family:       'Source Code Pro', monospace;
